@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-bodyBg text-white transition-all duration-300;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  cursor: not-allowed;
}

::selection{
  background-color: #D0A22C;
  color: white;
}