@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-bodyBg text-white;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  cursor: not-allowed;
}
