@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth !important;
}

body {
  @apply bg-bodyBg text-white transition-all duration-300;
}
.container {
  @apply !w-[90%] mx-auto lg:!w-[85%];
}
.card {
  @apply flex flex-col items-center justify-center p-5 bg-cardDark rounded-3xl group transition-all duration-300;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background-color: #d0a22c;
  color: white;
}
